In [1]:
# Import pandas
import pandas as pd
from datetime import datetime
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import PolynomialFeatures
import matplotlib.pyplot as plt
from datetime import timedelta
from sklearn.metrics import mean_absolute_percentage_error
import plotly.graph_objects as go

In [6]:
import pandas as pd

# Baca file CSV
df = pd.read_csv('cleaned_data_harga.csv')

df

            date  Semua Provinsi     Aceh  Kota Lhokseumawe
0     2020-01-01         11800.0  10300.0           10000.0
1     2020-01-02         11800.0  10300.0           10000.0
2     2020-01-03         11850.0  10300.0           10000.0
3     2020-01-06         11800.0  10350.0           10000.0
4     2020-01-07         11800.0  10350.0           10000.0
...          ...             ...      ...               ...
1213  2024-08-26         15350.0  13900.0           13450.0
1214  2024-08-27         15350.0  13900.0           13450.0
1215  2024-08-28         15250.0  13900.0           13450.0
1216  2024-08-29         15300.0  13900.0           13450.0
1217  2024-08-30         15350.0  14100.0               NaN

[1218 rows x 4 columns]

In [8]:
# Set Date as index
df['Date'] = pd.to_datetime(df['Date'])
df = df.set_index('Date')

# Menghapus kolom 'Adj Close' dan 'Volume' dari DataFrame
df = df.drop(columns=['Adj Close', 'Volume'])

            date  Semua Provinsi     Aceh  Kota Lhokseumawe
0     2020-01-01         11800.0  10300.0           10000.0
1     2020-01-02         11800.0  10300.0           10000.0
2     2020-01-03         11850.0  10300.0           10000.0
3     2020-01-06         11800.0  10350.0           10000.0
4     2020-01-07         11800.0  10350.0           10000.0
...          ...             ...      ...               ...
1213  2024-08-26         15350.0  13900.0           13450.0
1214  2024-08-27         15350.0  13900.0           13450.0
1215  2024-08-28         15250.0  13900.0           13450.0
1216  2024-08-29         15300.0  13900.0           13450.0
1217  2024-08-30         15350.0  14100.0               NaN

[1218 rows x 4 columns]